.open-sans-normal{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* Shared style */
.secondary-bg{
    background-color: #FFF8F3;
}
.text-primary{
    color: #FD6E0A;
}
.dark-2{
    color: #474747;
}
.btn-primary{
    background-color: #FD6E0A;
    font-weight: bold;
    font-size: 20px;
    color: white;
    padding: 18px 20px;
    border-radius: 5px;
    border: none;
    width: 150px;
    height: 64px;
}
.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}
.section-description{
    font-size: 18px;
    color: #757575;
}
.text-center{
    text-align: center;
}

/* Header */
.header{
    background-image: url(../images/developer.png),url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

/* Nav Styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 50px;
}
nav li a{
    text-decoration: none;
    font-size: 20px;
}
/* Banner styles */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
}
.banner-content{
    max-width: 580px;
}
.banner-greetings{
    font-size: 45px;
    font-weight: 600;
}
.banner-title{
    font-weight: bold;
    font-size: 85px;
}
.banner-description{
    font-size: 18px;
}
.banner-pro-pic{
    width: 580px;
}
/* Main style */
main{
    max-width: 1140px;
    margin: 0 auto;
}
/* About style */
.about{
    border-radius: 10px;
    padding: 130px 150px;
    margin-top: 130px;

}
.about-items{
    display: flex;
    justify-content: space-around;
}
.item-description{
    font-weight: 600;
}
.about{
    width: 827px;
    height: 288px;
    border: #1E1E1E;
    /* background-color:greenyellow; */
}
.about h3{
    text-align: center;
}
.about-2{
    width: 782px;
    height: 288px;
    background-color: white;
    border:1px solid black;
    padding: 0 5px 10px 5px;
}
.section-description{
    text-overflow:clip;
    width: 909px;
    height: 90px;
    text-align: center;
    align-items: center;
    margin-left: 10%;
}
/* what i do section */
.skills-container{
    display: flex;
    gap: 24px;
}
.skill{
    width: 267px;
    height: 377px;
    background-color: FFFFFF;
    padding: 30px;
    box-shadow: 0px 6px 50px 0px rgba(0,0,0,0.06);
    border-radius: 5px;
}
/* resume sections stle */
.section-title{
    text-align: center;
}
.resume-container{
    display: flex;
    gap: 24px;
}
.experience-sub-title{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}
.experienece-description, .experience-sub-title{
    color: #757575;
}
.resume hr{
    margin: 30px 5px;
}
.resume-download-cv{
    margin-top: 50px;
}
/* This is our footer styles */
footer{
    padding: 130px 230px;
    display: flex;
    gap: 100px;
}
.footer-column{
  width: 50%;
}
footer input[type="text"], footer input[type="email"], footer textarea{
    height: 64px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
    
}